.container {
  width: 100%;
  // height: 50px;
  background-color: rgb(1, 1, 51);
  position: sticky;
  &__logo {
    align-self: center;
    width: 80px;
    height: 70px;
  }
}
.head-text {
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    color: red;
  }
}
