<div class="container" fxLayout="row" fxLayoutAlign="space-between">
  <div class="container__logo" [routerLink]="'/'">
    <img style="width: 100%; height: 100%" src="assets/logo-new.png" />
  </div>
  <div style="width: 100%" fxLayoutAlign="space-around center">
    <span class="head-text">About us</span>
    <span class="head-text">Contact us</span>
    <span class="head-text">Login</span>
  </div>
</div>
