<ion-content>
  <app-header style="position: sticky; top: 0; z-index: 3"></app-header>
  <div class="breadcrumb-section" fxLayoutAlign="start center">
    <span class="breadcrumb-section__text">Members</span>
  </div>
  <div class="section">
    <div
      class="section__header"
      fxLayout="row"
      fxLayoutAlign="space-around center"
    >
      <div *ngFor="let item of headerData; let i = index" fxLayout="row">
        <span
          [ngClass]="
            currentCard === i
              ? 'section__header__selectedText'
              : 'section__header__unSelectedText'
          "
          (click)="activeTabClick(i)"
          >{{ item.name }}</span
        >
        <div
          *ngIf="
            item.name === 'Request Recieved' ||
            item.name === 'Request Sent' ||
            item.name === 'Accepted Profiles'
          "
          class="circle"
          fxLayoutAlign="center center"
        >
          <label *ngIf="item.name === 'Request Recieved'" class="countLabel">{{
            recievedProfile.length
          }}</label>
          <label *ngIf="item.name === 'Request Sent'" class="countLabel">{{
            sentProfile.length
          }}</label>
          <label *ngIf="item.name === 'Accepted Profiles'" class="countLabel">{{
            acceptedProfile.length
          }}</label>
        </div>
      </div>
      <div *ngIf="currentCard === 0">
        <ion-tab-button class="tab-button" fxLayout="row" fxLayoutGap="4px">
          <img style="width: 20px; height: 20px" src="assets/filt.png" />
          <ion-label class="tab-label">FILTER</ion-label>
        </ion-tab-button>
      </div>
      <div *ngIf="currentCard === 0">
        <!-- <ion-tab-button class="tab-button" fxLayout="row" fxLayoutGap="4px">
            <img style="width: 30px; height: 30px" src="assets/sort.png" />
            <ion-label class="tab-label-sort">Sort by</ion-label>
          </ion-tab-button> -->
        <select class="dropdown">
          <option default selected hidden>Sort By Popularity</option>
          <option *ngFor="let item of sortOption" value="{{ item.name }}">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
    <div [ngSwitch]="currentCard">
      <div class="profile-card-container" *ngSwitchCase="0">
        <app-profile-card
          fxLayout="row wrap"
          fxLayoutAlign="space-around"
          [profileData]="profileData"
        ></app-profile-card>
      </div>
      <div class="profile-card-container" *ngSwitchCase="1">
        <app-profile-card
          fxLayout="row wrap"
          fxLayoutAlign="space-around"
          [profileData]="recievedProfile"
        ></app-profile-card>
      </div>
      <div class="profile-card-container" *ngSwitchCase="2">
        <app-profile-card
          fxLayout="row wrap"
          fxLayoutAlign="space-around"
          [profileData]="sentProfile"
        ></app-profile-card>
      </div>
      <div class="profile-card-container" *ngSwitchCase="3">
        <app-profile-card
          fxLayout="row wrap"
          fxLayoutAlign="space-around"
          [profileData]="acceptedProfile"
        ></app-profile-card>
      </div>
    </div>
  </div>
</ion-content>
