.breadcrumb-section {
  width: 100%;
  min-height: 300px;
  background-image: url("/assets/banner-new.jpg");
  padding-left: 80px;
  background-size: cover;
  overflow: hidden;
  &__text {
    font-size: 50px;
    font-family: "Fira Sans", sans-serif;
    color: black;
  }
}

.section {
  padding-right: 50px;
  padding-left: 50px;

  height: 1000px;
  &__header {
    width: 100%;
    height: 70px;
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &__unSelectedText {
      font-family: "Muli", sans-serif;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      color: #333333;
      cursor: pointer;
    }
    &__selectedText {
      font-family: "Muli", sans-serif;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      color: orange;
      cursor: pointer;
    }
  }
}
.circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
}
.countLabel {
  color: brown;
  align-self: center;
}
.profile-card-container {
  padding-top: 32px;
}
.tab-label {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;

  text-transform: uppercase;

  color: #605f6d;
}
.tab-label-sort {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  align-self: center;

  text-transform: uppercase;

  color: #605f6d;
}
.dropdown {
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  width: 100%;
  padding: 2%;
}
