.login-container {
  width: 100%;
  min-height: 630px;
  &__inner {
    background-image: url("/assets/bg.jpg");
  }
  &__right {
    width: 100%;
    &__number-container {
      width: 350px;
      // height: 250px;
      border: 1px solid #e2e2e2;
      border-radius: 16px;
      padding: 3%;
      //  hh
    }
  }
}
.head {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.input {
  padding: 7px 17px;
  // width: 100%;
  background: white;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  margin-top: 20px;
  color: gray;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.tnc {
  &-p {
    color: #605f6d;
    &-H1 {
      color: blue;
      cursor: pointer;
    }
    &-H2 {
      color: #605f6d;
    }
  }
}

.Caption2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.req-button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(91.36deg, #8e37f1 0%, #2f169e 100%);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  border: 1px solid #e2e2e2;
}
.signUpForm {
  width: 100%;
  height: auto;
}
.signupContainer {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  margin: auto;
  padding: 2%;
  width: 30%;
}
.dropdown {
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  margin-top: 12px;
}
.location {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  margin-top: 12px;
}
.cancel {
  color: #2f169e;
  cursor: pointer;
  align-self: center;
  margin-top: 12px;
}
.resend-button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #f15a2c;
  background-color: white;
  border: none;
}
.resend-button-disable {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #afafaf;
  border: none;
}
