<div class="login-container" fxLayout="row">
  <div fxFlex="50" class="login-container__inner">
    <img
      style="height: 100%; width: 100%; object-fit: contain"
      src="assets/banner-2.jpg"
    />
  </div>
  <form
    [formGroup]="formGroup"
    fxLayoutAlign="center center"
    class="login-container__right"
    *ngIf="!reqOtp"
  >
    <div class="login-container__right" fxLayoutAlign="center center">
      <div
        class="login-container__right__number-container"
        fxLayout="column"
        fxLayoutGap="16px"
      >
        <span class="head">Login or SignUp</span>
        <input
          formControlName="phoneNumber"
          class="input Bodycopy3"
          placeholder="Enter your phoneNumber"
          maxlength="10"
        />
        <p class="tnc-p Caption2">
          By continuing, you confirm that you agree to our <br />
          <span class="tnc-p-H1">Terms of Use </span>
          <span class="tnc-p-H2"> & </span>
          <span class="tnc-p-H1">Privacy Policy</span>
        </p>
        <button
          class="req-button Buttonprimary"
          (click)="requestOtp(formGroup.value.phoneNumber, false)"
        >
          Request OTP
        </button>
        <span class="tnc-p Caption2"
          >Didn't have account?
          <span class="tnc-p-H1" (click)="signUpForm()">SignUp</span></span
        >
      </div>
    </div>
  </form>
  <div
    class="login-container__right"
    fxLayoutAlign="center center"
    *ngIf="reqOtp && otpSec"
  >
    <div
      class="login-container__right__number-container"
      fxLayout="column"
      fxLayoutGap="16px"
    >
      <span class="head">Enter OTP</span>
      <span
        >A 5 digit code has been sent to {{ formGroup.value.phoneNumber }}
      </span>

      <ng-otp-input #ngOtpInput [config]="config"></ng-otp-input>
      <p *ngIf="!resendWarn">
        <button
          class="resend-button"
          [ngClass]="resendButton ? 'resend-button' : 'resend-button-disable'"
          [disabled]="!resendButton"
          (click)="requestOtp(formGroup.value.phoneNumber, false)"
        >
          RESEND OTP
        </button>

        <span> in {{ counterStop }}s</span>
      </p>
      <span *ngIf="resendWarn" style="color: green"
        >OTP Resent Successfully!</span
      >
      <button class="req-button Buttonprimary" (click)="verifyOtp()">
        Submit
      </button>
      <span class="tnc-p Caption2"
        >Didn't have account?
        <span class="tnc-p-H1" (click)="signUpForm()">SignUp</span></span
      >
    </div>
  </div>
  <div fxLayoutAlign="center center" class="signupContainer" *ngIf="isSignup">
    <form class="signUpForm" fxLayout="column" [formGroup]="formGroup">
      <span class="head">Sign Up Form</span>
      <input
        formControlName="firstName"
        class="input Bodycopy3"
        placeholder="First Name"
      />

      <input
        formControlName="lastName"
        class="input Bodycopy3"
        placeholder="Last Name"
      />
      <input
        formControlName="age"
        type="number"
        class="input Bodycopy3"
        placeholder="Age"
      />
      <select class="dropdown">
        <option default selected hidden>Select Gender</option>
        <option *ngFor="let item of gender" value="{{ item.name }}">
          {{ item.name }}
        </option>
      </select>
      <select class="dropdown">
        <option default selected hidden>Looking For?</option>
        <option *ngFor="let item of Looking" value="{{ item.name }}">
          {{ item.name }}
        </option>
      </select>
      <textarea class="location" placeholder="Location"></textarea>
      <button class="req-button Buttonprimary" (click)="submitForm()">
        Submit
      </button>
      <a class="cancel" (click)="submitForm()">Cancel</a>
    </form>
  </div>
</div>
