.message {
  border-radius: 50px;
  margin: 0 15px 20px;
  padding: 10px 20px;
  position: relative;
  font-size: 20px;
}
.message.to {
  background-color: #2095fe;
  color: #fff;
  align-self: flex-end;
  text-align: right;
}
.message.from {
  background-color: #e5e4e9;
  color: #363636;
  align-self: flex-start;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}

.chat-container {
  width: 500px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  align-self: center;
  padding: 1%;
  background-image: url("/assets/chat-back.jpg");
}
.input {
  padding: 7px 17px;
  // width: 100%;
  background: white;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  margin-top: 20px;
  width: 380px;
  color: gray;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(
    166deg,
    rgb(242, 40, 118) 0%,
    rgb(148, 45, 217) 100%
  );
  cursor: pointer;
  margin-top: 20px;
}
.input-container {
  align-self: self-end;
  align-self: flex-end;
}
.navigation-container {
  margin-bottom: 80%;
  width: 100%;
  height: 60px;
  padding: 4%;
}
.backImage {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.userImage {
  width: 50px;
  height: 50px;
  margin-top: -10px;
}
.user-text {
  font-family: "Muli", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-top: 4px;
}
.dotContainer {
  margin-top: 4%;
}
.dotImage {
  width: 20px;
  height: 20px;
}
