<div class="chat-container" fxLayoutAlign="center center" fxLayout="column">
  <div fxLayoutAlign="space-between  " style="width: 100%">
    <div class="navigation-container" fxLayout="row" fxLayoutGap="1px">
      <img (click)="clickToBack()" class="backImage" src="assets/back.png" />
      <img class="userImage" src="assets/user.png" />
      <span class="user-text">Test User</span>
    </div>
    <div class="dotContainer">
      <img class="dotImage" src="assets/dots.png" />
    </div>
  </div>
  <ng-container *ngFor="let message of messages">
    <div
      class="message"
      [ngClass]="{
        from: message.author === 'bot',
        to: message.author === 'user'
      }"
    >
      {{ message.content }}
    </div>
  </ng-container>
  <div fxLayout="row" fxLayoutGap="4px" class="input-container">
    <input
      class="input Bodycopy3"
      placeholder="Enter Message"
      (keyup.enter)="sendMessage()"
      type="text"
      (input)="onSearchChange($event.target)"
    />
    <div class="circle" (click)="sendMessage()">
      <img
        style="width: 25px; height: 25px; padding: 8px"
        src="assets/sendchat.png"
      />
    </div>
  </div>
  <ng-template #dialogInfo> </ng-template>
</div>
