.profile-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px 20px 20px;
  margin-top: 32px;
  &:hover {
    transform: scale(1.002);
    border: 1px solid rgb(183, 183, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: var(--inverseprimary);
  }
  &__img-sec {
    max-width: 80px;
    border-radius: 15px;
  }
  &__details-sec {
    width: auto;
    margin-left: 16px;
    &__name {
      font-family: "Muli", sans-serif;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      color: #333333;
    }
    &__detail {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 0px;
      font-family: "Muli", sans-serif;
    }
  }
}
.button {
  height: 40px;
  width: 120px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  &:hover {
    border: 1px solid rgb(183, 183, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: linear-gradient(
      166deg,
      rgb(242, 40, 118) 0%,
      rgb(148, 45, 217) 100%
    );
  }
}
