<div
  class="profile-card"
  *ngFor="let item of profileData"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayout.md="column"
  fxLayout.sm="column"
>
  <div class="profile-card__img-sec">
    <img style="width: auto; height: auto" [src]="item.image" />
  </div>
  <div class="profile-card__details-sec" fxLayout="column">
    <div fxLayout="row">
      <span class="profile-card__details-sec__name">{{ item.name }}</span>
      <img
        style="width: 40px; height: 28px"
        *ngIf="item.accepted"
        src="assets/veri2.png"
      />
    </div>
    <span class="profile-card__details-sec__detail">Age : {{ item.age }}</span>
    <span class="profile-card__details-sec__detail"
      >Gender : {{ item.gender }}</span
    >
    <span class="profile-card__details-sec__detail"
      >Looking for : {{ item.lookingFor }}</span
    >
    <span class="profile-card__details-sec__detail"
      >Location: {{ item.location }}</span
    >
  </div>
  <button *ngIf="!item.accepted" mat-flat-button class="button">
    Connect Now
  </button>
  <button
    *ngIf="item.accepted"
    (click)="openConnectModal()"
    mat-flat-button
    class="button"
  >
    Chat Now
  </button>
</div>
